<!DOCTYPE html>
<html>
    <head>
        <title>Twitter - MVP</title>
    </head>
    <body>
        <div>Twitter - MVP: <a href="/timeline/">Timeline</a> <a href="/profile/">Profile</a></div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>